.grid {
    display: grid;
    grid-template-areas:
    'nav nav nav nav'
    'main main main main';
    grid-template-rows: 1fr 12fr;
    position: fixed;
    height: 100%;
    width: 100%;
}

.nav {
    grid-area: nav;
}
.main {
    grid-area: main;
}
