<div class="wrapper">
    <div class="menu">
        <!-- <app-main-menu></app-main-menu> -->
        <div class="tab" id="js-tab-lista-birras">
            lista birras
        </div>
        <div class="tab" id="js-tab-lista-carrito">
            carrito
        </div>
    </div>
    <div class="scrollable">
        <div class="content alineado">
            <div class="tab-content" id="js-content-lista-birras">
                <app-lista-birras></app-lista-birras>
            </div>
            <div class="tab-content" id="js-content-lista-carrito">
                <app-lista-carrito></app-lista-carrito>
            </div>
        </div>
        <div class="footer">
            footer
        </div>
    </div>
</div>
